<?xml version="1.0"?>
<config>
    <modules>
        <Mngr_Recommend>
            <version>1.0.0</version>
        </Mngr_Recommend>
    </modules>

    <global>
        <helpers>
            <recommend>
                <class>Mngr_Recommend_Helper</class>
            </recommend>
        </helpers>

        <blocks>
            <recommend>
                <class>Mngr_Recommend_Block</class>
            </recommend>
        </blocks>

        <models>
            <recommend>
                <class>Mngr_Recommend_Model</class>
                <resourceModel>recommend_resource</resourceModel>
            </recommend>
            <recommend_resource>
                <class>Mngr_Recommend_Model_Resource</class>
                <entities>
                    <product_similarity_index>
                        <table>recommend_product_similarity_index</table>
                    </product_similarity_index>
                </entities>
            </recommend_resource>
        </models>

        <resources>
            <recommend_setup>
                <setup>
                    <module>Mngr_Recommend</module>
                </setup>
            </recommend_setup>
        </resources>

        <index>
            <indexer>
                <recommend_similarity>
                    <model>recommend/indexer_similarity</model>
                </recommend_similarity>
            </indexer>
        </index>

        <events>
            <sales_order_save_commit_after>
                <observers>
                    <recommend_order_save_index_events>
                        <class>recommend/observer</class>
                        <method>reindexOnOrderSave</method>
                    </recommend_order_save_index_events>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <recommend>
                    <file>recommend.xml</file>
                </recommend>
            </updates>
        </layout>
    </frontend>
</config>
